<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=.;Initial Catalog=glapoint22_Users;User Id=glapoint22_Admin;Password=Cyb668622" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MarketingEntities"
      connectionString="metadata=res://*/Marketing.csdl|res://*/Marketing.ssdl|res://*/Marketing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=glapoint22_Marketing;User Id=glapoint22_Admin;Password=Cyb668622;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <machineKey validationKey="4D1439E61D43B7F26007699B41E41D5C43D217C33D81B136670BDE6E99B427DA2906E817A4DBA1430E861F016E7759D6F727ADBF40CEAE538E39F58BEF3DEF07" decryptionKey="7F85E76B615BB6D8E807BB9DD6977C299B95B05DC4FA7B8AA67004BE79333BE9" validation="SHA1" decryption="AES" xdt:Transform="Insert"/>

  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="https://www.nicheshack.com/" />
        </rule>
      </rules>
    </rewrite>

    <modules>
      <remove name="WebDAVModule" xdt:Transform="Insert" />
      <add name="ApplicationInsightsWebTracking" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    </modules>

    <handlers>
      <remove name="WebDAV"  xdt:Transform="Insert"/>
    </handlers>

  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Niche Shack">
        <network host="nicheshack.com" userName="donotreply@nicheshack.com" password="Cyb668622" xdt:Transform="Replace" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.codedom xdt:Transform="Remove">
  </system.codedom>
</configuration>